/*opacity*/
body{ 
 /* background-image: url("32e244d5-9dc2-41a5-b867-256c247342fe_4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  */
}
h1 {
    margin : 1%;
    color: rgb(241, 0, 96);
    padding: 10px;
}
h3{
   background-color:white 
   text-shadow: 2px 0px 0px red;
   color: rgb(241, 0, 96);
}
form {
    margin-top: 5%;
}
.cover::after {
  content: "";
  background: url("32e244d5-9dc2-41a5-b867-256c247342fe_4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  position: fixed;
  z-index: -1; 
  background-attachment: fixed;

}