html{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body{
  background: #fcf8ea url('../img/logo.png') no-repeat center center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
