html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  background-color:#202429;
  font:13/24px 'RobotoLight', sans-serif;
  color:#777;
  font-family:'RobotoRegular', 'Arial', sans-serif;
}
p { font:14px/22px 'RobotoLight', sans-serif; }
a {
  color:inherit;
  text-decoration:none;
  font-family:'RobotoLight', sans-serif;
}
h1, h2, h3, h4, h5 { font-family:'RobotoThin', sans-serif; }
strong { font-family:'RobotoBold', sans-serif; }
.divider {
  height:80px;
  width:100%;
  overflow:hidden;
}
.inner { margin:30px; }
body::-webkit-scrollbar-thumb { background-color:#3498db; }
body::-webkit-scrollbar-corner { background-color:#0a0b0c; }
body::-webkit-scrollbar {
  width:5px;
  height:5px;
}
body::-webkit-scrollbar-track { background-color:#0a0b0c; }
img { max-width:100%; }
::selection {
  background:#3498db;
  color:#fff;
}
::-moz-selection {
  background:#3498db;
  color:#fff;
}
#logo { width:160px; }
#logo a {
  background:url(../../images/logo.png) center no-repeat;
  display:block;
  height:192px;
  background-color:#282d33;
  -webkit-box-shadow:inset 0 0 1px rgba(255,255,255,0.4);
  -moz-box-shadow:inset 0 0 1px rgba(255,255,255,0.4);
  box-shadow:inset 0 0 1px rgba(255,255,255,0.4);
  border:solid 1px #171717;
}
#logo a:hover { background-color:#2a3036; }
.nav {
  margin-top:30px;
  float:right;
  display:block;
}
.nav li { float:left; }
ul.nav li {
  float:left;
  text-transform:uppercase;
  background-color:#3498db;
  position:relative;
  margin-right:1px;
  color:white;
  font-family:'RobotoLight', sans-serif;
}
ul.nav li:hover { background-color:#2b94d9; }
.nav li a {
  padding-top:100px;
  padding-left:20px;
  padding-right:35px;
  padding-bottom:20px;
  float:left;
}
.nav span {
  display:block;
  font:12px/24px 'RobotoLightItalic', sans-serif;
  color:#94d4ff;
  text-transform:none;
}
ul.nav li ul {
  position:absolute;
  top:99%;
  left:60px;
  visibility:hidden;
  z-index:9999;
  opacity:0;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
ul.nav li ul li {
  display:block;
  list-style:none;
  clear:both;
  width:100%;
  top:4px;
  border-top:1px solid #16191c;
  border-right:1px solid #16191c;
  border-left:1px solid #16191c;
}
ul.sub-menu li, ul.sub-menu li a {
  background:#3498db;
  text-transform:capitalize;
  font-size:14px;
  white-space:nowrap;
}
ul.sub-menu li:hover, ul.sub-menu li a:hover { background-color:#2b94d9; }
ul.sub-menu li:last-of-type { border-bottom:1px solid #16191c; }
ul.sub-menu li:not(:last-child) { margin-bottom:1px solid #373737; }
ul.sub-menu li a { padding:20px 60px 20px 20px; }
ul.nav > li:hover ul {
  left:-1px;
  opacity:1;
  visibility:visible;
}
.selectnav { display:none; }
.social-icons {
  margin-top:30px;
  float:right;
  width:114px;
}
.social-icons li { float:left; }
.social-icons li a {
  float:left;
  width:55px;
  height:79px;
  margin:0px 0px 2px 2px;
  background-color:#282d33;
  text-align:center;
  line-height:80px;
}
.social-icons li a:hover {
  background-color:#2a3036;
  color:white;
}
.header_text h1 {
  font-size:36px;
  line-height:44px;
  color:#bbb;
}
.header_text strong { color:white; }
.header_text a {
  font:16px/24px 'RobotoLight', sans-serif;
  display:inline-block;
  margin-top:10px;
  color:#586371;
}
.header_text a:hover { color:#636f7f; }
.header_text .main-btn { color:white; }
.header_text .main-btn:hover { color:white; }
.main-btn {
  background:#3498db;
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.25);
  -moz-box-shadow:inset 0 1px rgba(255,255,255,0.25);
  box-shadow:inset 0 1px rgba(255,255,255,0.25);
  border:solid 1px #222121;
  color:white;
  padding:20px;
}
.main-btn:hover {
  background-color:#2b94d9;
  color:white;
}
.main-btn span { margin-right:15px; }
.filter-category { position:relative; }
.filter-category {
  float:right;
  display:inline-block;
}
.filter-category span {
  margin-right:0px !important;
  margin-left:15px;
}
.filter-category a {
  text-decoration:none;
  color:white;
}
#nav-select {
  position:absolute;
  right:0;
  top:0;
  width:165px;
}
#nav-select li:not(:last-child) { border-bottom:1px solid #31373e; }
#nav-select {
  display:inline-block;
  margin:0;
  z-index:10100;
}
#nav-select li {
  text-align:left;
  display:none;
  background-color:#282d33;
}
#nav-select li a {
  background-color:#282d33;
  width:100%;
  font-size:15px;
  color:#777;
  padding:10px 20px 20px 20px;
}
#nav-select li:hover, #nav-select li a:hover { background-color:#24282d; }
#nav-select:hover li { display:block; }
#nav-select li.always-visible {
  display:block !important;
  background:#3498db;
  -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.25);
  -moz-box-shadow:inset 0 1px rgba(255,255,255,0.25);
  box-shadow:inset 0 1px rgba(255,255,255,0.25);
  border:solid 1px #222121;
  color:white;
}
#nav-select li.always-visible:hover { color:white; }
#nav-select li.always-visible span { margin-right:15px; }
#nav-select li.always-visible a {
  background-color:#3498db;
  color:white;
  font-size:16px;
  width:100%;
}
.isotope-item { z-index:2; }
.isotope-hidden.isotope-item {
  pointer-events:none;
  z-index:1;
}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration:0.8s;
  -moz-transition-duration:0.8s;
  transition-duration:0.8s;
}
.isotope {
  -webkit-transition-property:height, width;
  -moz-transition-property:height, width;
  transition-property:height, width;
}
.isotope .isotope-item {
  -webkit-transition-property:-webkit-transform, opacity;
  -moz-transition-property:-moz-transform, opacity;
  transition-property:transform, opacity;
}
.page-title { float:left; }
.page-title h1 {
  color:white;
  font-size:60px;
  text-shadow:0 1px #000;
  margin-top:5px;
}
.page-title em { font:60px 'RobotoLight', sans-serif; }
.load-more {
  margin-top:60px;
  display:block;
  width:160px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
}
.load-more a { padding:20px; }
.project_container > .inner_container { width:100%; }
.column5 .project {
  width:585px;
  height:360px;
}
.project {
  width:390px;
  height:240px;
  display:block;
  float:left;
  position:relative;
  overflow:hidden;
}
.project img {
  width:100%;
  height:100%;
  display:block;
}
.project_info {
  display:block;
  position:absolute;
  left:0;
  top:0;
  visibility:hidden;
  opacity:0;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -ms-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.project.active .project_info {
  visibility:visible;
  opacity:100;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}
.project .project_info {
  position:absolute;
  background-color:#3498db;
  width:100%;
  height:100%;
}
.project_info { color:white; }
.project_info h3, .project_info a {
  font:24px/28px 'RobotoThin', sans-serif;
  margin-bottom:15px;
}
.project_info p em {
  font:16px 'RobotoLight', sans-serif;
  margin-left:10px;
}
.project_info .btn {
  position:absolute;
  right:30px;
  bottom:15px;
  background:url(../../images/icon-zoom.png) no-repeat;
  width:50px;
  height:50px;
}
.project-infos {
  height:auto;
  background:#282d33;
  display:block;
  margin-bottom:30px;
  float:left;
}
.project-infos h1 {
  color:white;
  font-size:28px;
}
.project-infos p { margin-top:20px; }
.project-info-left {
  width:780px;
  float:left;
  padding:30px;
  height:auto;
}
.project-info-right {
  float:left;
  width:390px;
  padding:30px;
  height:100%;
  background-color:#2c3239;
}
.project-info-right a:hover {
  color:#3498db;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
.project-info-right span { color:white; }
.project-info-right span em {
  margin-left:15px;
  font:14px/28px 'RobotoLight', sans-serif;
}
.image-project {
  background-color:#191c20;
  width:100%;
}
#slides {
  width:100%;
  display:none;
  position:relative;
}
.slider {
  position:relative;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
.slider .slide_item {
  visibility:hidden;
  opacity:0;
  position:absolute;
  left:60px;
  display:block;
  top:0;
  -webkit-transition:all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -ms-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
}
.slider .slide_item.active {
  left:0;
  opacity:1;
  visibility:visible;
}
.slider > a {
  bottom:0;
  left:0;
  position:absolute;
}
.slidesjs-navigation {
  background-color:red;
  display:inline-block;
  z-index:9999;
}
.slidesjs-previous {
  background:url(../../images/slide-nav-prev.png) center no-repeat;
  width:60px;
  height:60px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  right:61px;
  bottom:0;
}
.slidesjs-previous:hover { opacity:0.7; }
.slidesjs-next {
  margin-left:3px;
  background:url(../../images/slide-nav-next.png) center no-repeat;
  width:60px;
  height:60px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  right:0;
  bottom:0;
}
.slidesjs-next:hover { opacity:0.7; }
.services > div { margin-bottom:30px; }
.services .ic-left {
  position:relative;
  float:left;
  width:20%;
}
.services .ic-left {
  display:table-cell;
  background-color:#2f353c;
  height:100px;
}
.services .service-cnt {
  float:left;
  position:relative;
}
.services .ic-left span {
  display:block;
  margin:auto;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-17px;
  margin-left:-17px;
}
.services .widget { overflow:hidden; }
.services .widget .ic-left span {
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0);
  -ms-transform:rotate(0);
  -o-transform:rotate(0);
  transform:rotate(0);
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.services .widget:hover .ic-left {
  background-color:#3498db;
  color:white;
}
.services .widget:hover .ic-left span {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}
.services .service-cnt {
  width:80%;
  background:#282d33;
  display:table-cell;
  padding:30px;
}
.services .service-cnt h4 {
  color:white;
  font:20px/26px 'RobotoThin', sans-serif;
  margin-bottom:15px;
}
#footer {
  margin-top:50px;
  border-top:1px solid #272c32;
  background-color:#191c20;
  position:relative;
}
#footer .footer-cnt { padding:60px 0; }
#footer .widget h5 {
  font:18px 'RobotoRegular', sans-serif;
  margin-bottom:20px;
}
#footer .widget p {
  font:14px/21;
  color:#5e5e5e;
}
#footer .widget a { color:#3498db; }
.flickr ul li {
  width:52px;
  height:52px;
  display:inline;
  float:left;
  background:#40a965;
  overflow:hidden;
}
.flickr ul li img {
  width:100%;
  height:100%;
  display:block;
}
.flickr ul li + li { margin-left:20px; }
.flickr	ul li:hover { opacity:0.9; }
.footer_bottom {
  background-color:#1e2126;
  padding:25px 0;
  border-top:1px solid #272c32;
  position:relative;
}
.footer_bottom p {
  font-size:12px;
  color:#6a6a6a;
}
.footer_bottom .theme_author { float:right; }
.footer_bottom .copyright { float:left; }
.footer_bottom .go_top {
  position:absolute;
  display:block;
  width:43px;
  height:43px;
  top:50%;
  left:50%;
  margin-left:-22px;
  margin-top:-22px;
  background:#1b1b1b;
  border:1px solid #2b2b2b;
  text-align:center;
  line-height:43px;
  font-size:24px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}
.footer_bottom .go_top:active {
  top:52%;
  box-shadow:0 5px 3px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow:0 5px 3px rgba(0,0,0,0.2) inset;
  -moz-box-shadow:0 5px 3px rgba(0,0,0,0.2) inset;
}
.footer_bottom .go_top i {
  opacity:0.5;
  color:#3498db;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.footer_bottom .go_top:hover i { opacity:1; }
.contact_us { padding-bottom:30px; }
#map {
  height:480px;
  background-color:#21252a;
  float:left !important;
  position:relative;
  overflow:hidden;
}
.contact_form .inner { margin:30px; }
.contact_form {
  height:480px;
  float:right !important;
  background-color:#282d33;
  position:relative;
}
.contact_form label {
  margin-bottom:20px;
  display:inline-block;
}
.contact_form p {
  margin-top:30px;
  display:inline-block;
}
.contact_form p:first-child { margin-right:30px; }
.contact_form #message {
  padding:10px;
  width:98%;
  border:1px solid #383f47;
  background-color:#2f353c;
  color:#777;
  min-height:200px;
}
.contact_form input[type=text] {
  width:245px;
  height:45px;
  border:1px solid #383f47;
  background-color:#2f353c;
  padding:0 10px;
  color:#777;
}
.contact_form input[type=submit] {
  color:white;
  background-color:#3498db;
  border:solid 1px #2b94d9;
  line-height:60px;
  height:60px;
  width:100px;
  font-size:16px;
  text-align:center;
  cursor:pointer;
}
.contact_form input[type=submit]:hover { background-color:#2791d9; }
.about_us .team {
  background-color:#282d33;
  position:relative;
  height:387px;
}
.about_us .team:hover {
  background-color:#3498db;
  color:white;
}
.about_us .team_info {
  position:absolute;
  bottom:0;
  left:0;
  padding:20px;
}
.about_us .team_info h4 {
  color:white;
  font-size:20px;
  margin-bottom:5px;
}
.blog_page .post {
  width:100%;
  background:#282d33;
}
.blog_page .post .inner { padding-bottom:30px; }
.blog_page .post h4 {
  color:white;
  font-size:20px;
  margin-bottom:15px;
}
.blog_page .post h4 a {
  -webkit-transition:all 0.1s ease-out;
  -moz-transition:all 0.1s ease-out;
  -o-transition:all 0.1s ease-out;
  transition:all 0.1s ease-out;
}
.blog_page .post h4 a:hover { color:#3498db; }
.blog_page { padding-bottom:30px; }
.blog_page.single .the_post { padding-top:20px; }
.blog_page.single .the_post p { padding-right:20px; }
.blog_page.single > .span8 { margin-left:0; }
.blog_page.single .intro { margin-left:0; }
.blog_page.single .intro .author { text-align:right; }
.blog_page.single .post_top { background:#282d33; }
.blog_page.single .post_top img { width:100%; }
.pagination ul li {
  display:inline-block;
  float:left;
  margin-right:2px;
  height:45px;
  width:35px;
  background:#282d33;
  text-align:center;
  cursor:pointer;
  font:14px/45px 'RobotoRegular', sans-serif;
  color:white;
}
.pagination ul li:hover { background-color:#2a3036; }
.pagination .current { background-color:#3498db; }
.pagination .current:hover { background:#3498db; }
.blog_page .comments {
  margin-top:50px;
  background:#282d33;
}
.blog_page .comments .inner { overflow:hidden; }
.blog_page .comments h2 {
  font-size:36px;
  padding:30px 0 0 30px;
}
.blog_page .comment_form {
  background-color:#282d33;
  position:relative;
  margin-left:0;
}
.blog_page .comment_form label {
  margin-bottom:20px;
  display:inline-block;
}
.blog_page .comment_form #message {
  padding:10px;
  width:98%;
  border:1px solid #383f47;
  background-color:#2f353c;
  color:#777;
  min-height:200px;
}
.blog_page .comment_form input[type=text] {
  width:95%;
  height:45px;
  border:1px solid #383f47;
  background-color:#2f353c;
  padding:0 10px;
  color:#777;
}
.blog_page .comment_form input[type=submit] {
  color:white;
  background-color:#3498db;
  border:solid 1px #2b94d9;
  line-height:60px;
  height:60px;
  font-size:16px;
  text-align:center;
  cursor:pointer;
  padding:0 30px;
}
.blog_page .comment_form input[type=submit]:hover { background-color:#2791d9; }
.sidebar {
  float:right;
  font:14px 'RobotoLight', sans-serif;
}
.sidebar .widget {
  background:#282d33;
  clear:both;
  margin-bottom:30px;
}
.sidebar h4 {
  color:white;
  padding:30px;
  font-size:20px;
  border-bottom:1px solid #31373e;
}
.sidebar ul li { margin-bottom:15px; }
.sidebar ul li:before { content:'- '; }
.sidebar ul li a:hover { color:white; }
.sidebar .inner { margin-bottom:30px; }
.tags a {
  background:#2f353c;
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  padding:5px;
  -webkit-transition:all 0.1s ease-out;
  -moz-transition:all 0.1s ease-out;
  -o-transition:all 0.1s ease-out;
  transition:all 0.1s ease-out;
}
.tags a:hover {
  background-color:#3498db;
  color:white;
}
.sidebar .widget { margin-left:0 !important; }
.no_margin { margin-left:0 !important; }
.margin_top { margin-top:30px; }