/*
   
    Template Name : Rolling - Freelancer Portfolio Template
    Author : UiPasta Team
    Website : http://www.uipasta.com/
    Support : http://www.uipasta.com/support/
	
	
    */



/*
   
   Table Of Content
   0. Overlay
   1. Global Style
   2. Preloader
   3. Home Section and Navigation Menu
   4. About Me
   5. Portfolio
   6. Testimonial
   7. Statistics
   8. Services
   9. Call to Action
  10. Contact Us
  11. Social Icons
  12. Footer
  13. Responsive
  14. Scroll To Top
  15. Useful Classes ( Such as : Margin, Padding, colors  "This classes will be helpful for you during designing/development time.")
  16. UiPasta Credit
 

  */


  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(0, 224, 85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .container_overlay:hover .overlay {
    height: 100%;
  }

  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .project_info {
    display:block;
    position:absolute;
    left:0;
    top:0;
    visibility:hidden;
    opacity:0;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
  }
  .project_info { color:white; }
  .project_info h3, .project_info a {
    font:24px/28px 'RobotoThin', sans-serif;
    margin-bottom:15px;
  }
  .project_info p em {
    font:16px 'RobotoLight', sans-serif;
    margin-left:10px;}
    /* Global Style */

    body {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1px;
      height: 100%;
      font-family: 'Poppins', sans-serif;
    }

    html,
    body {
      height: 100%
    }

    ::selection {
      background-color: #24b662;
      color: #ffffff;
    }

    ::-moz-selection {
      background-color: #24b662;
      color: #ffffff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
     font-family: 'Poppins', sans-serif;
   }

   a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a:focus {
    outline: none;
    text-decoration: none;
  }

  p {
    line-height: 32px;
  }
  #intro {
   color: pink;
   line-height: 32px;
 }

 ul,
 li {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}
.icon-folder-open:before          { content: "\f07c"; }
.icon-folder-open-alt:before      { content: "\f115"; }

.no-padding {
  padding: 0
}

.section-space-padding {
  padding: 100px 0px;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  margin-top: 0;
  font-weight: 600;
  border-bottom: 4px double #24b662;
  border-radius: 25px;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px 0;
  width: 350px;
  margin-bottom: 30px;
}

.section-title p {
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}

.bg-cover {
	background-repeat: no-repeat;
}

.grabbing {
	cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.button:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.button-style {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
	background: #24b662;
	color: #ffffff !important;
}

.button-style:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-style:active:before {
	color: #17954c;
}

.button-style-icon:before {
	left: 130%;
	top: -2px;
}

.button-style-icon:hover:before {
	left: 80%;
}

.button-style-dark {
	border: 3px solid #000000 !important;
	color: #000000;
}



/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

body.loaded #preloader{
  opacity: 0;
  visibility: hidden;
}

.loader{
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #24b662;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #24b662;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #24b662;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* Home Section and Navigation Menu */

.home-section {
  height: 100%;
}

.home-section-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg/82353_gettyimages578184333.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: 100% 100%;
}

.home-section-background:after {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.header-text {}

.home-section-background h2 {
  color: #f8f8f8;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0;
}

.home-section-background p {
  color: #f8f8f8;
  letter-spacing: 4px;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.header-top-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.logo {
  padding-top: 28px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logo a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
  font-size: 14px;
}

.navigation-menu .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 30px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
  background: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
  background: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  margin: 0;
}

.navigation-background {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #000;
}

.navigation-background .logo {
  padding-top: 18px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
  color: #fff;
  padding: 20px 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
  color: #fff;
}



/* About Me */

.about-section {
	overflow: hidden;
	background-color: #F9F9F9;
}

.about-section img {
	position: absolute;
}

.about-me {}

.about-me h2 {
	padding: 0px 50px;
}

.about-me p {
	padding: 50px;
	font-size: 15px;
}



/* Portfolio */

.portfolio {}

.portfolio-inner .mix {
  display: none;
}

ul.portfolio {
  padding: 0;
  list-style: none;
  margin-top: 30px;
  margin-left: 8px;
  text-align: center;
}

ul.portfolio li {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 8px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

ul.portfolio li:hover {
  color: #000;
  border: none;
}

ul.portfolio li.active {
  color: #ffffff;
  background-color: #24b662;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}

.portfolio .item {
  margin-top: 30px;
  position: relative;
}

.portfolio .item img {
  width: 100%;
}

.item {
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio .item:hover a:before{
  top: 40%;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.portfolio .item a:before{
  color: #ffffff;
  content: "\f00e";
  font-family: "FontAwesome";
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  top: 2%;
  opacity: 0;
  left: 0%;
  right: 0%;
  background-color: #24b662;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.portfolio .item a:hover:before{
  opacity: 1;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	margin-top: 40px;
  font-size: 50px;
  background-color: #24b662;
  width: 44px;
  right: 0px;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: inherit;
}



/* Testimonial */

.testimonial-section {
  background: #F9F9F9;
}

.testimonial-carousel-list {
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.testimonial-carousel-list:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.testimonial-word {
  padding: 0px 100px;
}

.testimonial-word img {
	margin: 0 auto;
  max-width: 140px;
}

.testimonial-word h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #24b662;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 20px 0px;
}

.testimonial-word p {
  line-height: 25px;
}

.owl-navi {
	color: #24b662;
}

.owl-navi:hover {
	color: #000000 !important;
}

.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 7px 13px;
  background-color: transparent;
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}



/* Statistics */

.statistics-section {
	position: relative;
  background: url(../images/bg/workspace_background-t2.jpg);
  background-size: cover;
  z-index: 1;
}

.sign-up{
  position: relative;
  background: url(../images/bg/18813193_829018340582791_8379212475405330401_n.jpg);
  background-size: cover;
  z-index: 1;
}


.statistics {

  margin: 25px 0;
  overflow: hidden;
  color: #ffffff;
}

.statistics.block .statistics-icon,
.statistics.block .statistics-content {
  width: auto;
  float: none;
  text-align: center;
}

.statistics-icon {
  width: 30%;
  text-align: center;
  margin-right: 5%;
  float: left;
  font-size: 50px;
}

.statistics-content {
  float: left;
  width: 65%;
  text-align: left;
}

.statistics-content > h5 {
  font-size: 34px;
  margin-top: 0;
}

.statistics-content > span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}



/* Services */

.services-section {
  background-color: #F9F9F9;
}

.services-section hr {
  border-bottom: 2px solid #24b662;
  width: 42px;
  margin-left: 0px;
}

.services-section .services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 60px 40px 60px 40px;
  margin-top: 32px;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.services-section .services-detail .fa {
  font-size: 42px;
}



/* Call to Action */

.call-to-action {
}

.call-to-action h2 {
	font-size: 30px;
}



/* Contact Us */

.contact-us {
	background-color: #f9f9f9;
}

.contact-us-detail {
}

.contact-us-detail i {
	font-size: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  width: 88px;
  height: 88px;
  line-height: 88px;
}

.contact-us-detail:hover i {
	box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
  margin-top: -5px;
}

.contact-us-detail a {
	color: #333;
}

.contact-us-detail a:hover {
	color: #333;
}

.form-group {
	margin-bottom: 25px;
}

.form-control {
	border: 2px solid transparent;
	height: 50px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition:all 150ms ease-in-out 0s;
  -moz-transition:all 150ms ease-in-out 0s;
  -ms-transition:all 150ms ease-in-out 0s;
  -o-transition:all 150ms ease-in-out 0s;
  transition:all 150ms ease-in-out 0s;
}
.form-control:focus {
	border-color: #171717;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
	border-color: #24b662;
	border-width: 2px;
}

.map {
  width: 100%;
  height: 340px;
  border: 1px solid #24b662;
}



/* Social Icons */

.social-icon {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
  display: inline-block;
  margin: 0px 4px;
}

.social-icon li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  border: 0 none;
  border-radius: 4px;
  font-size: 30px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
 box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.social-icon li a .fa {
  line-height: inherit;
}

.facebook {
 background-color: #3b5998;
}

.twitter {
 background-color: #1da1f2;
}

.google-plus {
 background-color: #dd4b39;
}

.instagram {
 background-color: #464545;
}

.linkedin {
 background-color: #0077b5;
}

.pinterest {
 background-color: #bd081c;
}

.youtube {
 background-color: #cd201f;
}

.vimeo {
 background-color: #1ab7ea;
}

.dribbble {
 background-color: #ea4c89;
}

.behance {
 background-color: #1769ff;
}

.flickr {
 background-color: #ff0084;
}

.tumblr {
 background-color: #35465c;
}

.foursquare {
 background-color: #f94877;
}

.github {
 background-color: #333333;
}

.skype {
 background-color: #00aff0;
}



/* Footer */

.footer-section {
  background: #000;
  padding: 80px 0px;
  color: #f8f8f8;
}

.footer-section p {
  font-size: 14px;
}

.footer-section a {
  color: #ffffff;
}



/* Responsive */

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .navigation-menu .navbar-nav li a {
    padding: 30px 11px;
    font-size: 12px;
  }
  .navigation-background .navigation-menu .navbar-nav li a {
    padding: 30px 11px;
    font-size: 12px;
  }
  .navigation-background .logo {
    padding-top: 28px;
  }
}


@media only screen and (max-width: 991px) {
  .about-section img {
    position: inherit;
  }

  .call-to-action h2 {
    font-size: 20px;
  }

  .space-set {
    margin-top: 80px;
  }

  .footer-section p {
   text-align: center !important;
 }
}


@media only screen and (max-width: 767px) {
  .navbar-toggle .icon-bar {
    background: #f8f8f8;
  }
  .navigation-background .navbar-toggle .icon-bar {
    background: #fff;
  }
  .navbar-toggle {
    margin-right: 0px;
    margin-top: -30px;
  }
  .navbar {
    min-height: 0px;
  }
  .navigation-menu .navbar-nav li a {
    padding: 11px 15px;
  }
  .navigation-menu .navbar-nav li a:hover {
    color: #24b662;
  }
  .navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #24b662;
  }
  .navigation-background .navigation-menu .navbar-nav li a {
    padding: 11px 15px;
  }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 420px;
  }
  .navbar-toggle {
    margin-top: -30px;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, .9);
  }
  .navigation-background .navbar-collapse {
    background: rgba(0, 0, 0, .9);
  }
  .home-section-background {
    padding-top: 120px;
  }
  .home-section-background h2 {
    font-size: 22px;
  }
  .section-title h2 {
    font-size: 22px;
  }
  .testimonial-word {
    padding: 0;
  }
  .testimonial-carousel-list {
    margin-top: 0px;
  }
  .statistics-center {
    margin-left: 20%;
  }
  .call-to-action h2 {
    font-size: 18px;
    line-height: 35px;
  }
  .contact-us-detail {
    margin-bottom: 30px;
  }
}


@media only screen and (max-width: 555px) {
	.social-icon li a {
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
 }

 .section-title h2 {
   font-size: 16px;
 }

 .section-title h2 {
   font-weight: 500;
   width: 200px;
 }

 .section-title p {
   font-weight: 300;
   font-size: 12px;
 }

 .home-section-background h2 {
   font-size: 18px;
 }

 .home-section-background p {
   font-size: 12px;
 }
}


@media only screen and (max-width: 449px) {
 .button {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 10px;
}

.button-style:before {
  display: none;
}

}



/* Scroll To Top */

.scroll-to-top {
  background-color: #24b662;
  display: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 0px;
  bottom: 50px;
  z-index: 999;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  background-color: #1bab58;
  color: #ffffff;
}



/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
	margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-150 {
	margin-top: 150px !important;
}

.margin-top-200 {
	margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-150 {
	margin-bottom: 150px !important;
}

.margin-bottom-200 {
	margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
	padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}

.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-90 {
	padding-top: 90px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-top-200 {
	padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-bottom-90 {
	padding-bottom: 90px !important;
}

.padding-bottom-100 {
	padding-bottom: 100px !important;
}

.padding-bottom-120 {
	padding-bottom: 120px !important;
}

.padding-bottom-150 {
	padding-bottom: 150px !important;
}

.padding-bottom-200 {
	padding-bottom: 200px !important;
}



/* Colors */

.color-1 {
	color: #f306a0;
}

.color-2 {
	color: #d60bfb;
}

.color-3 {
	color: #d8be10;
}

.color-4 {
	color: #0fd28a;
}

.color-5 {
	color: #f97400;
}

.color-6 {
	color: #08a6f3;
}



/* Background Color */

.bg-color-1 {
	background-color: #f306a0;
}

.bg-color-2 {
	background-color: #d60bfb;
}

.bg-color-3 {
	background-color: #d8be10;
}

.bg-color-4 {
	background-color: #0fd28a;
}

.bg-color-5 {
	background-color: #f97400;
}

.bg-color-6 {
	background-color: #08a6f3;
}



/* UiPasta Credit */

.uipasta-credit {
}

.uipasta-credit a {
  color: #24b662;
  font-weight: 600;
}

.uipasta-credit a:hover {
  color: #ffffff;
}