#header a.logo {
	display: block;
    float: left;
    height: 100px;
    margin: 20px 0 0;
	margin-left: 30px;
    padding: 0;
    width: 200px;
}
body{
	background-color: yellow;
}
div {
	border: 3px solid black;
    background-image: url("photos/home.jpg");;
    padding: 50px 30px 80px 80px;
}
