
h1{
    margin-top : 10%;
}
h2 {
    margin-top: 0.1%;
}
h3 {
    margin-top: 0.1%;
}
.h {
    text-align: center;
    text-shadow: 2px 0px 0px red;
    color: rgb(241, 0, 96);
    padding: 10px;
}
#Menu {
    font-family: "Lato", sans-serif;
    background-image: url("img/17888487_308349989584530_700873100_n.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
