fieldset{
	margin: auto;
	max-width: 250px; 
	position: relative;
	top: 100px;
	background-color: #00CED1;
}
input[type= button], input[type=submit], input[type=reset], input[type=text]{
	padding: 15px 25px;
	margin: 10px;
	font-size: 1.5em;
	border-radius: 10px;
	box-shadow: 8px 5px #1E90FF;
	font-weight: bold;
}
#clear, #output{
	background-color: #808080;
	color: #FFFAF0;
	font-weight: bold;
	font-size: 27px;
}
#clear:hover{
	background-color: #ADFF2F;
}
#output:hover{
	background-color: #ADFF2F;
}
input[type=button]{
	background-color: #FF1493;
	color: #FFF8DC;
}
input[type=button]:hover{
	background-color: #FFD700;
}