h1{text-align: center;}
body {

	text-align:center;
	background-image: url("img/43963_anime_scenery_boats.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;


}

form {
	margin-top: 150px;
}
 #hello{
 	font-family: Arial;
 	font-size: 30px;
 	text-align: center;
    position: relative;
    width:50%;
    top: 8px;
    font-size: 18px;
	text-shadow: 0 0 3px #FF0000;
	color: rgb(255, 255, 215);
	background-color: black;
	border-radius: 8px;
	margin:0px auto;

}

.d1 {width:100%;}

input {
	border-style: orange;
	color: red;
	background-color: yellow;
	margin-right: 15%;
	margin-left: 15%;
}

#page2
{
	text-align:center;
	background-image: url("img/51537_anime_scenery_japan_blossom_trees.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

h3 { 
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 15px;
	text-align:center;
	text-shadow: 0 0 3px #FF0000;
	color: rgb(255, 255, 255);
	background-color: black;
	border-radius: 8px;
}

h4{
	padding: 15px;
	text-align:center;
	text-shadow: 0 0 3px #FF0000;
	color: rgb(255, 255, 255);
	background-color: black;
	border-radius: 8px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 5%;
}
h5{
	
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;

}


img {
	width:5%;
	height:10%;
}


span {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	border-radius: 8px;
	background-color: rgb(128,128,128);
	display: block;
}