#styler{
    position: fixed;
    left: -155px;
    top: 20%;
    width: 155px;
    background-color: #000;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    padding: 20px;
}

#styler:hover{
    left: 0;
}

#styler .img{
    position: absolute;
    left: 100%;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url('style.png');
    background-color: #000;
}
#styler h2 {
    margin-bottom: 20px;
    font: 16px 'RobotoRegular', sans-serif;
    color: #fff;
}
#styler .colors{
    width: 100%;
    padding-bottom: 5px;
}

#styler .colors a {
    display: block;
    width: 50px;
    height: 40px;
    margin-left: 5px;
    display: inline-block;
}

#styler .colors span{
    display: block;
    width: 100%;
    height: 50%;
}