/*  Page styles  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 14px/1.4 Arial, Helvetica, sans-serif;
}

/*navBar*/
ul.nav-navbar-nav li{
    float: right;
}

.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
    height:100%;
    position:relative;
    overflow: hidden;
}

#skrollr-body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*  Styles for this example */


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;

    height:80vh;
    top:-80vh;
}


.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    height:100vh;
    top:0;
}


.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}



.gap {
    background:transparent center no-repeat;
    background-size:cover;
    height:80vh;
}

.skrollr .gap {
    background:transparent !important;
}


/*  End of scrollr styles   */


/*Intro*/

#page-intro h1{
    text-align: center;
    color: #00ffff;
    font: normal 70px 'Droid Serif', sans-serif;
    padding-top: 24vh;
}

@media (max-width: 800px) {
    #page-intro h1 {
        font-size: 42px;
        padding-top: 15vh;
    }
}

#page-intro .btn{
    color: #fff !important;
    display: block;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}



/*Body Text*/


.body-text{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: #00ffff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
    border: 5px dashed #000;
}

.body-text h2{
    font: normal 42px 'Droid Serif',sans-serif;
    margin-bottom: 40px;
}

.body-text p{
    width: 80%;
    display: inline-block;
    text-align: justify;
    padding: 20px;
    color: #45636B;
    border-radius: 20%;
}

.body-text p{
    background-color: #fffaf0;
}

@media (max-width: 1000px){

    .body-text p{
        width: 100%;
    }

}

/*project List*/


.features-list{
    margin: 50px;
    padding: 50px 0;
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    min-height: 100vh;
    text-align: center;
}

.features-list h2{
    font-size: 42px;
    margin-bottom: 40px;
    font-weight: normal;
}

.features-list div{
    display: inline-block;
    width: 30%;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}

.features-list div i{
    font-size: 150px;
    margin-bottom: 40px;
    color: #50B575;
}

.features-list div h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #425F67;
    font-weight: normal;
}


@media (max-width: 900px){

    .features-list div{
        width: 90%;
        margin-bottom: 30px;
    }

}


/*members*/

.about-us{
    padding: 50px 0;
    background-color: #fff;
    min-height: 120vh;
    text-align: center;
    color: #25373C;
    font-size: 18px;
}

.about-us h2{
    font-size: 42px;
    margin-bottom: 40px;
    font-weight: normal;
}

.about-us div{
    text-align: center;
    width: 25%;
    margin: 30px 10px;
    display: inline-block;
}


.about-us div img.main{
    border-radius: 50%;
    width: 60%;
}

.about-us div ul li img{
    display: inline-block;
    border-radius: 50%;
     width: 45px;
     height: 45px;
}

.about-us div ul{
    margin: 0px 35px;
}
.about-us div ul li{
    display: inline;
    list-style-type: none;
    float: left;
    margin: 10px;
}
@media (max-width: 800px){

    .about-us div{
        width: 45%;
        margin: 20px 0;
    }

}

#panel{
    width: 300px;
   
    text-align: center;
    background-color: #00ffff;
    border:solid 1px #c3c3c3;
    display: none;
}






