/*opacity*/
body {
    font-family: "Lato", sans-serif;
    text-align:center;
   /* background: url("43528_anime_scenery_japan_cityscape.jpg"); 
    background-color:rgba(0, 0, 0, 0.1);  
    background-repeat: no-repeat;
    background-size: cover;
*/
}
#cover::after {
  content: "";
  background: url(43528_anime_scenery_japan_cityscape.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  position: fixed;
  z-index: -1; 
  background-attachment: fixed;

}
.h {
    text-shadow: 2px 0px 0px red;
    color: rgb(241, 0, 96);
    padding: 10px;
}
table {
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
}
table tr:nth-child(even) {
    background-color: pink;

}
table tr:nth-child(odd) {
    background-color:  rgb(255, 88, 167);
}
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
    padding:5px;
}
tr {
    margin: 5px;
}
input{
  margin: 5px;
}