body{
    background-image: url('Picture/Mj5rBo.jpg');
    backgroud-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container{
    background-color: bisque;
    opacity: 0.9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: 3px ridge black;
}
#banner{
    width: 100%;
    height: 250px;
}
#nav_name{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-shadow: 2px 2px 5px red;
}
h1{
    text-align: center;
    font-size: 50px;
}
.quiz_container{
    background-color: gainsboro;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 5px 7px 5px;
    margin-top: 5px;
    border: 1px solid black;
}
#result{
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
#rs_container{
    background-color: bisque;
    opacity: 0.9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 705px;
}
#rs_nav_name{
    width: 100%;
    height: auto;
    margin-top: 70px;
}