
img{display:block;}
body{
	font-family: helvetica;
	
	}
#bottom {
				background-color:#FFEFD5;
				 font-weight: bold;
                max-width: 900px;
                 border:10px solid #5F9EA0;
				}
#top{
	background-color:#5F9EA0;
	border:15px solid #5F9EA0;
border-bottom:5px solid #5F9EA0;
max-width: 900px;}


#top img {border-radius: 30%;
				margin:auto;
				width:160px;
				height:180px;
				
}

.col-sm-5{padding:10px;
}

.col-sm-5:hover .img-responsive{
	transform: rotateY(180deg);
	transform-style:preserve-3d;
}

.col-sm-5.img-responsive, .col-sm-5:hover .img-responsive{
	transition: all 0.7s ease;
}

p{
	
	color:#FFEFD5;
	font-family:Verdana;
	font-size:3em;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	position:relative;
	 animation: mymove 5s infinite alternate;
	animation-timing-function: linear;}


@keyframes mymove {
    from {top: 10px;}
    to {top: 40px;}
}
.col-sm-4 img{width: 40px;
              height: 40px;}


.col-sm-4 td {font-size: 1em;
              padding: 10px;}
h2{background-color: #5F9EA0;
   border-radius: 30px;
   text-align: center;
}

.col-sm-4 li{list-style-type:none;
padding:0px;
	}
.col-sm-4 li img{width:170px;
				height:80px;}
.container-fluid ul,ol{padding: 10px;
          margin-left: 20px;}

 .container-fluid h2{color:#FFE4C4;
        }
	
li {padding:10px 0px;}
table{border-collapse:collapse;}
tr:nth-child(even){background-color: #f2f2f2;}



 
